/***** Layout *****/
#mainwrap{}
#mainwrap .top_util{height:69px;border-bottom:1px solid #666}
#mainwrap .top_utilwrap{position:relative;width:1000px;margin:0 auto;}
#mainwrap .header{height:510px;background:#413d3e url(../images/main/mainimg1.jpg) no-repeat 50% 0;background-size:cover}
#mainwrap .header .headerwrap{position:relative;top:83px;width:1000px;text-align:center;margin:0 auto}
#mainwrap .navbar{height:45px;background:#fff;border-bottom:1px solid #ddd}
#mainwrap .navbar .navbarwrap{position:relative;width:1000px;margin:0 auto;}
#main_container{background:#eee;padding-top:50px;padding-bottom:30px;}
#main_container .contents{position:relative;margin:0 auto;width:1000px;}
#mainwrap .footer{background:#fff;height:94px;font-family: 'notokrl';}
#mainwrap .footerwrap {margin:0 auto;padding-top:30px;text-align:center;width:1000px;color:#999;line-height:1.83;font-size:12px;}
/***** Header *****/
h1{position:relative;top:20px;width:220px;color:#fff;}
.snswrap{position:absolute;top:23px;right:0;width:40%;text-align:right;letter-spacing:-;}
.snswrap span{margin-right:12px;display:inline-block;width:27px;height:27px;border-radius:30px;overflow:hidden;text-align:center;background-color: rgba(255, 255, 255, 0.5);}
.snswrap span a{display:block;font-size:0;line-height:0;width:27px;height:27px;}
.snswrap span:last-child{margin-right:0 !important}
.snswrap span a.sns1-1{background: url(../images/main/btn_sns1-1.png) no-repeat 50% 50%;}
.snswrap span a.sns1-1:hover{background:#3e5c9a url(../images/common/btn_sns1-1.png) no-repeat 50% 50%;}
.snswrap span a.sns1-2{background: url(../images/main/btn_sns1-2.png) no-repeat 50% 50%;}
.snswrap span a.sns1-2:hover{background:#00c23a url(../images/common/btn_sns1-2.png) no-repeat 50% 50%;}
.snswrap span a.sns1-3{background: url(../images/main/btn_sns1-3.png) no-repeat 50% 50%;}
.snswrap span a.sns1-3:hover{background:#00c23a url(../images/common/btn_sns1-3.png) no-repeat 50% 50%;}
.main_sentence1{font-size:54px;color:#fff;font-family: 'notokrm';line-height:1.18;letter-spacing:-0.25;margin-bottom:14px;}
.main_sentence2{font-size:20px;color:#fff;font-family: 'notokrl';border-top: 1px solid #8b8881;border-bottom: 1px solid #8b8881;width:429px;padding: 8px 0 8px 0;margin:0 auto;}
.mainsch{top:58px;position:relative;}
.maininput{width:510px;height:60px;padding-left:20px;font-family: 'notokrl';font-size:20px;color:#333;border:none;-webkit-border-radius:5px;border-radius:5px}
.maininput:focus,.maininput:active{border:0;outline:0}
:root .maininput{width:495px\9;height:58px\9;}
.maininput placeholder{font-size:20px;color: #aaa;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */ font-size:20px;color: #aaa;}
::-moz-placeholder { /* Firefox 19+ */  font-size:20px;color: #aaa;}
:-ms-input-placeholder { /* IE 10+ */ font-size:20px;color: #aaa;}
:-moz-placeholder { /* Firefox 18- */ font-size:20px;color: #aaa;}
.mainsch_smit1{position:relative;top:-3.5px;left:-7px;width:65px;height: 60px;border-top-right-radius:5px;border-bottom-right-radius:5px;background:#ff6200 url(../images/main/btn_mainsch.png) no-repeat 50% 50%;font-size:0;line-height:0;text-indent:-1000000000px}
@media screen and (-webkit-min-device-pixel-ratio:0){
.mainsch_smit1{top:-4px;}
}
/***** Navbar *****/
#mainwrap .btn_category{position:relative;top:0px;}
#mainwrap .hotkeyword{float:right;margin-right:0;top:-45px;}
/***** Contents *****/
#main_container .contents h3{font-size:26px;color:#333;text-align:center;font-family: 'notokrm';margin-bottom:20px;}
.main_prd{width:1000px;}
.main_prd:after { content:""; display:block; clear:both;}
.main_prd ul{}
.main_prd li{float:left;padding-bottom:15px;border:1px solid #ddd;background:#fff;overflow:hidden;}
.main_prd li:hover {cursor:pointer;border:1px solid #ff6200;transition: 0.5s;}
.main_prd li:nth-child(4){margin-right:0px !important;}
.main_prd li img{position:relative;top:0;width:196px;height:196px;margin:0 auto;}
.main_prd .info1{position:relative;height:16px;padding:15px 15px 7px 15px;letter-spacing:-0.0025em;border-top:1px solid #eee}
.main_prd .info1 span{display:inline-block;font-size:11px;font-family:'돋움','맑은 고딕';color:#fff;letter-spacing:-1px;padding: 3px 3px 1px 3px;height:10px;margin-right:2px;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.main_prd .info1 span{padding: 2px 3px;}
}
.main_prd .info1 span:hover{cursor:pointer;}
.main_prd .info1 span:hover .infodetail{ visibility: visible;z-index:10001}
.main_prd .info1 .infodetail{position:absolute;top:-41px;left:10px;font-size:11px;letter-spacing:-1.1px;line-height:1.45;height:30px;width:180px;padding:10px 8px;visibility: hidden;
color:#666;border:1px solid #aaa;border-radius:2px;background:#fff}
.main_prd .info1 .infodetail:after{content: "";position: absolute;top: 90%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	box-shadow: 1px 1px 1px #aaa;
	border: 4px solid;border-color: #fff;
}
.main_prd .info1 .mark1 .infodetail:after{left:8%}
.main_prd .info1 .mark2 .infodetail:after{left:32%}
.main_prd .info1 .mark3 .infodetail:after{left:50%}
.main_prd .info1 .infodetail strong{font-weight:normal;color:#ff6200;}
.main_prd .info1 .mark1{background:#995bea;border:1px solid #8d54d7;}
.main_prd .info1 .mark2{background:#27c7c7;border:1px solid #1fadae;}
.main_prd .info1 .mark3{background:#80c31e;border:1px solid #6eac1b;}
.main_prd .info1 .mark4{background:#ffa832;border:1px solid #ee9b31;}
.main_prd .info2{padding:0 15px;height:42px;letter-spacing:-0.0025em;overflow:hidden;}
.main_prd .info2 .prdname{color:#333;font-size:16px;line-height:1.25;font-family: 'notokrm';margin-right:10px;
white-space: nowrap; overflow: hidden; text-overflow: ellipsis; white-space: normal; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.main_prd .info2 .kcal1-1{color:#666;font-size:12px;letter-spacing:-0.025em;}
.main_prd .info2 .kcal1-2{color:#999;font-size:12px;letter-spacing:-0.025em;padding-left:2px;}
.main_prd .info2 .kcal1-1:before{ content:"| ";color:#999}
.main_prd .info3{padding:0 15px;margin-top:14px;height:34px;letter-spacing:-0.0025em;overflow:hidden;}
.main_prd .info3 .materialname{color:#666;font-size:12px;line-height:1.35;
white-space: nowrap; overflow: hidden; text-overflow: ellipsis; white-space: normal; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.main_prd .info4{padding:0 15px;margin-top:10px;letter-spacing:-0.0025em;}
.main_prd .info4 .hashtag{display:inline-block;color:#888;background:#e9e9e9;font-family: 'notokrl';font-size:12px;height:18px;line-height:18px;padding: 0 4px 0 3px;margin-right:5px;width:50px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.main_prd .info4 .hashtag:hover{color:#333;background:#d1d1d1}


